section{
    h1{
        margin-top: 30px;
        font-size: 32px;
        text-align: center;
    }

    div{
        p{
            text-align: center;
            font-size: 18px;
            color: rgb(119, 119, 119);
        }
    }
}