/*inicio-sesión.HTML*/

.inicioSesion{

    .logo{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .mailUsuario{

        width: 300px;
        margin: 20px auto;
    }
    .contraseña{    
        width: 300px;
        margin: 20px auto;
    }
}