/* Section de Servicios*/
@import 'extends';

.servicios{
    h2{
        text-align: center;
        margin: 30px;
    }

    .resumenServicios{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;


        .flota, .almacenamiento, .seguimiento{
            @extend %border;
            border-radius: 10px;
            text-align: center;

            @media only screen and (max-width: 968px) {
                border: none; 
            }
        
            &:hover{
                background-color: rgb(222, 222, 222);
                transition: all 1s;
            }
            
        }
        .almacenamiento{
            grid-column-start: 2;
            grid-row-start: 2;
        }
        .seguimiento{
            grid-column-start: 3;
        }

        @media only screen and (max-width: 968px) {
            margin-top: 20px;
            display: flex;
            flex-direction: column;       
        }

    }
}


