
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@import 'inicioServicios';
@import 'acercaDeTST';
@import 'seguimiento';
@import 'servicios';
@import 'iniciarSesion';
@import 'extends';
@import 'ayuda';
@import 'footer';

